body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue LT', 'Helvetica Neue', Helvetica, sans-serif;
}

@responsive {
  .uppercase {
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .not-uppercase {
    text-transform: initial;
    letter-spacing: initial;
  }
}