.type-normal {
  @apply font-sans;
  @apply leading-normal;
  letter-spacing: .03em;
}


.type-heading {
  @apply font-display;
  @apply leading-tight;
  letter-spacing: .02em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply type-normal;
  @apply text-md;
}

@responsive {
  .uppercase {
    @apply type-normal;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .not-uppercase {
    text-transform: initial;
    letter-spacing: initial;
  }
}
